@charset "UTF-8";

header{
          background-color: #ffffff;
}
.card-container {
    background-color: #C4C4C4;     /* 背景色指定 */
    padding:  10px;             /* 余白指定 */
    height: 300px;              /* 高さ指定 */
    display: flex;              /* フレックスボックスにする */
    flex-wrap: wrap;            /* 折り返し指定 */
    align-content:stretch;      /* 折り返し時の配置指定 */
}
 
.card{
      padding:10em;
            background-color: #dddddd;
        }

.card__img-top{
               
                width:288px;
                height:182px;
                margin-bottom:10px;
                 }

.card__title{
                      font-size: 2px;
                      color: #000000;
                     }
.card__description{
                           display: none;
	
}		
	
@media screen and (min-width:768px){

.card__title{
    font-size: 2px;
}
	
	.card__description{
                            font-size: 1px;
                            color: #282828;
	}
	
	
@media screen and (min-width:1200px){
.card__title{
                      font-size: 14px;
                }
	.card__description{
			    font-size: 12px;
                            color: #282828;
                           
	}
	
}
}
</body>

footer{
        background-color: #ffffff;
        }
